*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main-container{
    width: 100%;
    height: 100vh;
    background-image: url(image/water.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.name{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name h1{
    color: aqua;
}

.btn-one{
    color: #2caabd;
    padding: 15px 35px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;   
    position: relative;
    right: 30px;
    bottom: 10px;
    cursor: pointer;
    transition: 0.9s;
}

.btn-two{
    color: #000729;
    padding: 15px 35px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;   
    position: relative;
    right: 30px;
    top: 40px;
    cursor: pointer;
}


.btn-one:hover{
    opacity: 0.4;
}

.btn-one:active{
    background-color: #2caabd;
    color: black;
}



.section{
    color: #fbfcfb;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}


h1{
    font-size: 50px;
    margin: 10px 0 30px;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    position: relative;
    right: 30px;
    font-size: 60px;
    line-height: 80px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #fbfcfb;
    text-shadow: 0 0 10px #000729;
}

h3{
    position: relative;
    right: 30px;
    bottom: 20px;
    font-size: 30px;
    line-height: 50px;
    color: black;
    text-shadow: 0 0 10px rgb(210, 202, 202);
}


.sidebar{
    width: 60px;
    height: 100vh;
    background: linear-gradient(#00545d, #000729);
    position: absolute;
    right: 0;
    top: 0;
}

.icon-menu i{
    display: block;
    width: 25px;
    margin: 30px auto;
    cursor: pointer;
    font-size: 30px;
    position: relative;
    color: #fff;
}

.icon-social i{
    display: block;
    line-height: 60px;
    font-size: 30px;
    position: relative;
    left: 15px;
    color: #fff;
}

.icon-link i{
    display: block;
    line-height: 60px;
    font-size: 30px;
    position: relative;
    top: 300px;
    left: 15px;
    color: #fff;

}

.bubbles img{

    width: 50px;
    animation: bubbles 7s linear infinite;

}

.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

footer{
    position: fixed;
    bottom: 0;
    color: black    ;
}

@keyframes bubbles{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    75%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 95px;
}

.bubbles img:nth-child(2){
    animation-delay: 1s;
    width: 35px;
}

.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 65px;
}

.bubbles img:nth-child(4){
    animation-delay: 4.5s;
    width: 40px;
}

.bubbles img:nth-child(5){
    animation-delay: 3s;
    width: 100px;
}

.bubbles img:nth-child(6){
    animation-delay: 6s;
    width: 55px;
}

@media screen and (max-width: 600px){
    h2{
        font-size: 30px;
        line-height: 40px;
    }

    .sidebar{
        width: 100%;
        height: 50px;
        top: auto;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .icon-social i{
        width: auto;
        position: unset;
        transform: none;
        display: inline;
        font-size: 30px;
    }
    
    .icon-link i{
       width: auto;
       position: unset;
       display: inline;
       font-size: 30px;
    
    }   

    footer{
        position: relative;
        top: 78%;
        left: 40px;
        color: white ;
        font-size: 15px;
    }

    .icon-menu i{
        font-size: 25px;
        margin: 0;
       
    }

    .main-container{
        
        background-image: linear-gradient(#000e2e, #004f5a);
       
    }
}


@media (max-width: 342px){
    footer{
        display: none;
    }

    h1{
        position: relative;
        top: 5px;
        font-family: 'Courier New', Courier, monospace;
    }

    h2{
        line-height: 50px;
        position: relative;
        left: -5px;
    }

    h3{
        position: relative;
        left: -5px;
    }

    .btn-two{
        position: relative;
        left: -5px;
        color: #fbfcfb;
    }

    .btn-one{
        position: relative;
        left: 10px;
        top: -5px;
    }
}
